<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dungeon</title>
    <link rel="stylesheet" href="/css/reset.css">

<!--    <script src="/js/player.js" defer></script>-->
    <script src="/js/data/battleZone.js" defer></script>
    <script src="/js/data/collision.js" defer></script>
    <script src="/js/data/wallCollision.js" defer></script>
    <script src="/js/Classes/Boundary.js" defer></script>
    <script src="/js/Classes/Sprite.js" defer></script>
    <script src="/js/index.js" defer></script>

</head>
<body>

<div class="canvas">
    <canvas id="dungeon" style="position:absolute; top: 0;left: 0"></canvas>
    <canvas id="town" style="position:absolute; top: 0;left: 0"></canvas>
</div>
</body>
</html>