<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dungeon</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Teko:wght@300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/Classes/Sprite.js" defer></script>
    <script src="/js/Classes/Stats.js" defer></script>
    <script src="/js/Classes/player.js" defer></script>
    <script src="/js/constants.js" defer></script>
    <script src="/js/util.js" defer></script>
    <script src="/js/data/battleZone.js" defer></script>
    <script src="/js/data/upgradeZone.js" defer></script>
    <script src="/js/data/collision.js" defer></script>
    <script src="/js/data/wallCollision.js" defer></script>
    <script src="/js/Classes/Boundary.js" defer></script>
    <script src="/js/mapCollisions.js" defer></script>
    <script src="/js/eventListeners.js" defer></script>
    <script src="/js/keyPressed.js" defer></script>
    <script src="/js/Classes/Enemy.js" defer></script>
    <script src="/js/dungeon.js" defer></script>
    <script src="/js/index.js" defer></script>

</head>

<body>
    <div class="container">

    <div class="startGame">
        <div class="startBtn">
            <button>Play</button>
        </div>
    </div>

    <div class="canvas">
        <canvas id="dungeon" style="position:absolute; top: 0;left: 0"></canvas>
        <canvas id="town" style="position:absolute; top: 0;left: 0"></canvas>

        <div class="upgradeWindow">
            <div class="upgradeDamage">
                <button>Upgrade Damage</button>
            </div>
            <div class="upgradeHealth">
                <button>Upgrade Health</button>
            </div>
            <div class="done">
                <p></p>
            </div>
        </div>

        <div class="completeLevel">
            <div class="goHome">
                <button>Go Home</button>
            </div>
            <div class="nextLevel">
                <button>Next Level</button>
            </div>
        </div>
    </div>

    <div class="gameOver">
        <h1>GameOver</h1>
        <div class="restartBtn">
            <button>Restart</button>
        </div>
    </div>
</div>

</body>

</html>