.upgradeWindow, .completeLevel{
    border-radius: 5px ;
    display: none;
}

canvas{
    pointer-events: none;
}

button{
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: none;

}

button:hover{
    background-color: #ccc;
}

.gameOver{
    display: none;
}

h1{
    font-size: 20px;
    text-align: center;
    margin: 50px 0  ;
}